other/ai.html
other/ai.txt

parsed_bsps/textures/*.[pP][nN][gG]
parsed_bsps/textures/*.png
parsed_bsps/textures/*.PNG

env/

banquet/
map/
research_unk/

Logfile.csv
stack.CSV

banquet_stream_log.PML

banquet.rar
map.rar
research_unk.rar